[package]
name = "rattler_index"
version = "0.20.13"
edition.workspace = true
authors = []
description = "A crate that indexes directories containing conda packages to create local conda channels"
categories.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme.workspace = true

[dependencies]
fs-err = { workspace = true }
rattler_conda_types = { path="../rattler_conda_types", version = "0.30.4", default-features = false }
rattler_digest = { path="../rattler_digest", version = "1.0.6", default-features = false }
rattler_package_streaming = { path="../rattler_package_streaming", version = "0.22.29", default-features = false }
serde_json = { workspace = true }
tempfile = { workspace = true }
tracing = { workspace = true }
walkdir = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }
tools = { path = "../tools" }
