[workspace]
members = ["crates/*"]
resolver = "2"

# See: https://docs.rs/insta/latest/insta/#optional-faster-runs
[profile.dev.package.insta]
opt-level = 3

[workspace.package]
categories = ["conda"]
homepage = "https://github.com/mamba-org/rattler"
repository = "https://github.com/mamba-org/rattler"
license = "BSD-3-Clause"
edition = "2021"
readme = "README.md"

[workspace.metadata.release]
allow-branch = ["main"]
consolidate-commits = true
tag-prefix = ""

[profile.bench]
lto = true

[workspace.dependencies]
anyhow = "1.0.82"
archspec = "0.1.3"
assert_matches = "1.5.0"
async-compression = { version = "0.4.8", features = [
    "gzip",
    "tokio",
    "bzip2",
    "zstd",
] }
async-trait = "0.1.80"
axum = { version = "0.7.5", default-features = false, features = [
    "tokio",
    "http1",
] }
base64 = "0.22.0"
bindgen = "0.69.4"
blake2 = "0.10.6"
bytes = "1.6.0"
bzip2 = "0.4.4"
cache_control = "0.2.0"
cfg-if = "1.0"
chrono = { version = "0.4.38", default-features = false, features = [
    "std",
    "serde",
    "alloc",
] }
clap = { version = "4.5.4", features = ["derive"] }
cmake = "0.1.50"
console = { version = "0.15.8", features = ["windows-console-colors"] }
criterion = "0.5"
dashmap = "5.5.3"
difference = "2.0.0"
digest = "0.10.7"
dirs = "5.0.1"
dunce = "1.0.4"
enum_dispatch = "0.3.13"
fs-err = "2.11.0"
fslock = "0.2.1"
futures = "0.3.30"
futures-util = "0.3.30"
fxhash = "0.2.1"
generic-array = "0.14.4"
getrandom = { version = "0.2.14", default-features = false }
glob = "0.3.1"
google-cloud-auth = { version = "0.13.2", default-features = false }
hex = "0.4.3"
hex-literal = "0.4.1"
http = "1.1"
http-cache-semantics = "2.1.0"
humansize = "2.1.3"
humantime = "2.1.0"
indexmap = "2.2.6"
indicatif = "0.17.8"
insta = { version = "1.38.0" }
itertools = "0.12.1"
json-patch = "1.2.0"
keyring = "2.3.2"
lazy-regex = "3.1.0"
lazy_static = "1.4.0"
libc = { version = "0.2" }
libloading = "0.8.3"
libz-sys = { version = "1.1.16", default-features = false }
md-5 = "0.10.6"
memchr = "2.7.2"
memmap2 = "0.9.4"
netrc-rs = "0.1.2"
nom = "7.1.3"
num_cpus = "1.16.0"
once_cell = "1.19.0"
ouroboros = "0.18.3"
pathdiff = "0.2.1"
pep440_rs = { version = "0.5.0" }
pep508_rs = { version = "0.4.2" }
percent-encoding = "2.3.1"
pin-project-lite = "0.2.14"
plist = "1"
purl = { version = "0.1.2", features = ["serde"] }
quote = "1.0.36"
rand = "0.8.5"
reflink-copy = "0.1.16"
regex = "1.10.4"
reqwest = { version = "0.12.3", default-features = false }
reqwest-middleware = "0.3.0"
reqwest-retry = "0.5.0"
resolvo = { version = "0.4.0" }
retry-policies = { version = "0.3.0", default-features = false }
rmp-serde = { version = "1.2.0" }
rstest = { version = "0.19.0" }
rstest_reuse = "0.6.0"
rayon = { version = "1.10.0", default-features = false }
serde = { version = "1.0.198" }
serde_json = { version = "1.0.116" }
serde_repr = "0.1"
serde_with = "3.7.0"
serde_yaml = "0.9.34"
sha2 = "0.10.8"
shlex = "1.3.0"
similar-asserts = "1.5.0"
smallvec = { version = "1.13.2", features = [
    "serde",
    "const_new",
    "const_generics",
    "union",
] }
strum = { version = "0.26.2", features = ["derive"] }
superslice = "1.0.0"
syn = "2.0.59"
sysinfo = "0.30.10"
tar = "0.4.40"
tempdir = "0.3.7"
tempfile = "3.10.1"
test-log = "0.2.15"
thiserror = "1.0"
tokio = { version = "1.37.0", default-features = false }
tokio-stream = "0.1.15"
tokio-util = "0.7.10"
tower = { version = "0.4.13", default-features = false }
tower-http = { version = "0.5.2", default-features = false }
tokio-rayon = { version = "2.1.0" }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", default-features = false }
tracing-test = { version = "0.2.4" }
trybuild = { version = "1.0.91" }
url = { version = "2.5.0" }
uuid = { version = "1.8.0", default-features = false }
walkdir = "2.5.0"
windows-sys = { version = "0.52.0", default-features = false }
zip = { version = "0.6.6", default-features = false }
zstd = { version = "0.13.1", default-features = false }

[patch.crates-io]

[profile.release]
debug = true
