[workspace]
members = ["crates/*"]

# See: https://docs.rs/insta/latest/insta/#optional-faster-runs
[profile.dev.package.insta]
opt-level = 3

[profile.dev.package.similar]
opt-level = 3

[workspace.package]
version = "0.16.2"
categories = ["conda"]
homepage = "https://github.com/mamba-org/rattler"
repository = "https://github.com/mamba-org/rattler"
license = "BSD-3-Clause"
edition = "2021"
readme = "README.md"

[workspace.metadata.release]
allow-branch = ["main"]
consolidate-commits = true
tag-prefix = ""

[profile.bench]
lto = true

[patch.crates-io]
resolvo = { git = "https://github.com/mamba-org/resolvo.git", branch = "main" }

[workspace.dependencies]
anyhow = "1.0.75"
async-compression = { version = "0.4.3", features = ["gzip", "tokio", "bzip2", "zstd"] }
async-trait = "0.1.77"
base64 = "0.21.7"
bindgen = "0.66.1"
bisection = "0.1.0"
blake2 = "0.10.6"
bytes = "1.5.0"
bzip2 = "0.4.4"
cache_control = "0.2.0"
cfg-if = "1.0"
chrono = { version = "0.4.31", default-features = false, features = ["std", "serde", "alloc"] }
clap = { version = "4.4.6", features = ["derive"] }
console = { version = "0.15.7", features = ["windows-console-colors"] }
difference = "2.0.0"
digest = "0.10.7"
dirs = "5.0.1"
drop_bomb = "0.1.5"
enum_dispatch = "0.3.12"
fs-err = "2.11.0"
fslock = "0.2.1"
futures = "0.3.28"
futures-util = "0.3.28"
fxhash = "0.2.1"
getrandom = { version = "0.2.10", default-features = false }
glob = "0.3.1"
hex = "0.4.3"
http-content-range = "0.1.2"
humansize = "2.1.3"
humantime = "2.1.0"
indexmap = "2.1.0"
indicatif = "0.17.7"
itertools = "0.12.0"
json-patch = "1.1.0"
keyring = "2.0.5"
lazy-regex = "3.0.2"
lazy_static = "1.4.0"
libc = { version = "0.2" }
libloading = "0.8.1"
libz-sys = { version = "1.1.12", default-features = false }
md-5 = "0.10.6"
memchr = "2.6.4"
memmap2 = "0.9.0"
netrc-rs = "0.1.2"
nom = "7.1.3"
num_cpus = "1.16.0"
once_cell = "1.18.0"
ouroboros = "0.17.2"
pep440_rs = { version = "0.3.12" }
pep508_rs = { version = "0.2.3" }
pin-project-lite = "0.2.13"
plist = "1"
purl = { version = "0.1.2", features = ["serde"] }
quote = "1.0.33"
rattler = { version = "0.16.2", path = "crates/rattler", default-features = false }
rattler_conda_types = { version = "0.16.2", path = "crates/rattler_conda_types", default-features = false }
rattler_digest = { version = "0.16.2", path = "crates/rattler_digest", default-features = false }
rattler_libsolv_c = { version = "0.16.2", path = "crates/rattler_libsolv_c", default-features = false }
rattler_macros = { version = "0.16.2", path = "crates/rattler_macros", default-features = false }
rattler_networking = { version = "0.16.2", path = "crates/rattler_networking", default-features = false }
rattler_package_streaming = { version = "0.16.2", path = "crates/rattler_package_streaming", default-features = false }
rattler_repodata_gateway = { version = "0.16.2", path = "crates/rattler_repodata_gateway", default-features = false }
rattler_solve = { version = "0.16.2", path = "crates/rattler_solve", default-features = false }
rattler_virtual_packages = { version = "0.16.2", path = "crates/rattler_virtual_packages", default-features = false }
reflink-copy = "0.1.14"
regex = "1.9.6"
reqwest = { version = "0.11.22", default-features = false }
reqwest-middleware = "0.2.4"
resolvo = { version = "0.3.0" }
retry-policies = { version = "0.2.0", default-features = false }
serde = { version = "1.0.188" }
serde-json-python-formatter = "0.1.0"
serde_json = { version = "1.0.107" }
serde_repr = "0.1"
serde_with = "3.3.0"
serde_yaml = "0.9.25"
sha2 = "0.10.8"
shlex = "1.3.0"
smallvec = { version = "1.11.1", features = ["serde", "const_new", "const_generics", "union"] }
strum = { version = "0.25.0", features = ["derive"] }
superslice = "1.0.0"
syn = "2.0.37"
sysinfo = "0.29.10"
tar = "0.4.40"
task-local-extensions = "0.1.4"
tempdir = "0.3.7"
tempfile = "3.8.0"
thiserror = "1.0"
tokio = { version = "1.33.0", default-features = false }
tokio-stream = "0.1.14"
tokio-util = "0.7.9"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.17", default-features = false }
url = { version = "2.4.1" }
uuid = { version = "1.4.1", default-features = false }
walkdir = "2.4.0"
windows-sys = { version = "0.48.0", default-features = false }
zip = { version = "0.6.6", default-features = false }
zstd = { version = "0.12.4", default-features = false }
