[project]
name = "rattler"
description = "Rust library to install conda environments"
authors = [
    "Wolf Vollprecht <wolf@prefix.dev>",
    "Bas Zalmstra <bas@prefix.dev>",
    "Tim de Jager <tim@prefix.dev>",
    "Ruben Arts <ruben@prefix.dev>",
]
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]
license = "BSD-3-Clause"

[tasks]
build = "cargo build"
fmt = "cargo fmt --all"
lint = "cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro"
check = "cargo check"
# libsolv compilation cannot find pixi's clang for some reason
# so we skip that test for now
test = "cargo nextest run --workspace --no-default-features --features=indicatif,tokio,serde,reqwest,sparse,gateway,resolvo,libsolv_c,s3,experimental_extras,edit,rattler_config -E 'not test(libsolv_bindings_up_to_date)' --no-fail-fast"
rattler = "cargo run --bin rattler --release --"
doc = "RUSTDOCFLAGS='-Dwarnings -Wunreachable-pub' cargo doc --no-deps --all --all-features"

[dependencies]
cxx-compiler = "~=1.10.0"
openssl = "~=3.1"
make = "~=4.3"
pkg-config = "~=0.29.2"
rust = "~=1.88.0"
cmake = "~=3.26.4"
cargo-nextest = ">=0.9.91,<0.10"

[target.linux-64.dependencies]
clang = ">=18.1.8,<19.0"
compilers = ">=1.6.0"
mold = ">=2.33.0,<3.0"
[target.linux-64.activation]
scripts = ["scripts/activate_linux.sh"]

[feature.lint.dependencies]
pre-commit = ">=4.2,<5"
pre-commit-hooks = ">=5,<6"
ruff = ">=0.12.3,<0.13"
typos = ">=1.23.1,<2"

[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run --all-files --hook-stage manual"

[environments]
lint = { features = [
    "lint",
], no-default-feature = true, solve-group = "default" }
