[project]
name = "rattler"
description = "Rust library to install conda environments"
authors = [
    "Wolf Vollprecht <wolf@prefix.dev>",
    "Bas Zalmstra <bas@prefix.dev>",
    "Tim de Jager <tim@prefix.dev>",
    "Ruben Arts <ruben@prefix.dev>",
]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]
license = "BSD-3-Clause"

[tasks]
build = "cargo build"
fmt = "cargo fmt"
lint = "cargo clippy"
check = "cargo check"
test = "cargo test"
rattler = "cargo run --bin rattler --release --"

[dependencies]
cxx-compiler = "~=1.6.0"
openssl = "~=3.1"
make = "~=4.3"
pkg-config = "~=0.29.2"
rust = "~=1.80.0"
cmake = "~=3.26.4"
minio-server = "*"
# minio-client = "*" # xref: https://github.com/conda-forge/staged-recipes/pull/28736

[target.linux-64.dependencies]
clang = ">=18.1.8,<19.0"
compilers = ">=1.6.0"
mold = ">=2.33.0,<3.0"
[target.linux-64.activation]
scripts = ["scripts/activate_linux.sh"]

[feature.lint.dependencies]
pre-commit = ">=3.7.1,<4"
pre-commit-hooks = ">=4.6.0,<5"
ruff = ">=0.4.8,<0.5"
typos = ">=1.23.1,<2"

[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run"

[environments]
lint = { features = [
    "lint",
], no-default-feature = true, solve-group = "default" }
