[project]
name = "rattler"
description = "Rust library to install conda environments"
authors = [
    "Wolf Vollprecht <wolf@prefix.dev>",
    "Bas Zalmstra <bas@prefix.dev>",
    "Tim de Jager <tim@prefix.dev>",
    "Ruben Arts <ruben@prefix.dev>",
]
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]
license = "BSD-3-Clause"

[tasks]
build = "cargo build"
fmt = "cargo fmt"
lint = "cargo clippy"
check = "cargo check"
# libsolv compilation cannot find pixi's clang for some reason
# so we skip that test for now
test = "cargo nextest run --workspace --no-default-features --features=rustls-tls -E 'not test(libsolv_bindings_up_to_date)'"
rattler = "cargo run --bin rattler --release --"

[dependencies]
cxx-compiler = "~=1.9.0"
openssl = "~=3.1"
make = "~=4.3"
pkg-config = "~=0.29.2"
rust = "~=1.85.0"
cmake = "~=4.0.3"
cargo-nextest = ">=0.9.91,<0.10"

[target.linux-64.dependencies]
clang = ">=20.1.7,<20.2"
compilers = ">=1.6.0"
mold = ">=2.33.0,<3.0"
[target.linux-64.activation]
scripts = ["scripts/activate_linux.sh"]

[feature.lint.dependencies]
pre-commit = ">=4.2,<5"
pre-commit-hooks = ">=5,<6"
ruff = ">=0.12,<0.13"
typos = ">=1.23.1,<2"

[feature.lint.tasks]
pre-commit-install = "pre-commit install"
pre-commit-run = "pre-commit run"

[environments]
lint = { features = [
    "lint",
], no-default-feature = true, solve-group = "default" }
