[workspace]
allow_dirty = true
changelog_update = true
dependencies_update = true
git_release_enable = true
git_tag_enable = true
pr_labels = ["release"]
publish_allow_dirty = false
semver_check = true
