[package]
name = "rattler_sandbox"
version = "0.2.5"
description = "A crate to run executables in a sandbox"
categories.workspace = true
homepage.workspace = true
repository.workspace = true
# Note: because `birdcage` is GPL-3.0-or-later, this crate must also be GPL-3.0-or-later
# We might be able to change this in the future if we switch to a different sandboxing solution.
license = "GPL-3.0-or-later"
edition.workspace = true
readme.workspace = true

[[bin]]
name = "rattler-sandbox"
path = "src/main.rs"

[dependencies]
clap = { workspace = true, features = ["derive"] }
fs-err = { workspace = true }
tokio = { workspace = true, optional = true, features = ["process"]}

[target.'cfg(any(target_os = "macos", all(target_os = "linux", target_arch = "x86_64"), all(target_os = "linux", target_arch = "aarch64")))'.dependencies]
birdcage = "0.8.1"

[dev-dependencies]
libtest-mimic = "0.8.1"

[[test]]
name = "integration_test"
path = "tests/integration_test.rs"
harness = false
