name: Python bindings CI

on:
  push:
    branches: [main]
  pull_request:
    paths:
      # When we change pyproject.toml, we want to ensure that the maturin builds still work
      - test-data/**
      - crates/**
      - Cargo.*

      # When something in the bindings themselves changes
      - "py-rattler/**/*"

      # Or when this workflow changes
      - ".github/workflows/python-bindings.yml"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  format_lint_test:
    name: Format, Lint and Test the Python bindings
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive
      - uses: prefix-dev/setup-pixi@8ca4608ef7f4daeb54f5205b20d0b7cb42f11143 # v0.8.14
        with:
          manifest-path: py-rattler/pixi.toml
          environments: test
      - uses: actions-rust-lang/setup-rust-toolchain@02be93da58aa71fb456aa9c43b301149248829d8 # v1.15.1
        with:
          components: clippy, rustfmt
      - name: Format and Lint
        run: |
          cd py-rattler
          pixi run -e test lint
          pixi run -e test fmt-check
      - name: Run tests
        env:
          RATTLER_TEST_R2_READWRITE_ACCESS_KEY_ID: ${{ secrets.RATTLER_TEST_R2_READWRITE_ACCESS_KEY_ID }}
          RATTLER_TEST_R2_READWRITE_SECRET_ACCESS_KEY: ${{ secrets.RATTLER_TEST_R2_READWRITE_SECRET_ACCESS_KEY }}
        run: |
          cd py-rattler
          pixi run -e test test --color=yes
